.style {
  background-color: rgb(219, 182, 224);
  font-size: 1rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
  color: rgb(12, 12, 12);
  width: 90%;
  padding: 20px; 
}

.ss-card-4 {box-shadow:0 20px 10px 0 rgba(0,0,0,0.2),0 4px 200px 0 rgba(0,0,0,0.19)}
.ss-container {padding:0.1em 16px}
div {padding-left:16px!important;padding-right:20px!important}
.image-padding {padding-left:16px!important;padding-top:16px!important;padding-bottom:16px!important;padding-right:16px!important}
  
body,h1 {font-family: "Raleway", sans-serif}

.ss-jumbo {font-size:55px!important}
.ss-animate-top {position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.ss-display-topleft{position:absolute;left:0;top:0}
.ss-padding-large{padding:12px 24px!important}
.ss-xlarge{font-size:24px!important}
.ss-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}


.bgimg {
      background-image: url('images/flower-g7f09a62f8_1920.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
      }
     
      ul {
        list-style-type: none;
        overflow: hidden;
      }

li a:hover {
  color: yellow;
}

.nav a {
  color: black;
  float: left;
  padding-left:35px!important;padding-top:16px!important;padding-bottom:16px!important;padding-right:16px!important;
  text-decoration: none;
  font-size: 17px;
}

.dropbtn {
  background-color:green;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}